@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.3rem;
}
.header-content{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.6rem;

}
.logo-icon{
    height: 2.56rem;
    width: 1.938rem;
}
.logo-text{
     font-weight: bold;
    font-size:2rem;
}
.nav{
    display:none;
    gap: 1.5rem;
}
@media screen and (min-width:768px){
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav-link:hover{
    color: var(--link-color);
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1sec;
    padding:0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;

}
@media screen and (min-width:768px){
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8;
}
.menu-button{
  display: none;
  border: none;
  border-radius: 0.375rem;
    background-color: var(--background-color);
    font-size: 1rem;
    font-weight: 600;
     padding:0.5rem 1rem;
}
@media screen and (max-width:768px){
    .menu-button{
        display: block;
    }
}
.menu-icon{
    height:2.5rem;
    width:2.5rem;
}
.main-section{
    max-width:1280px ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
    
}
.content-left{
    align-items: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;

}
@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
    
}
.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}
.section-heading{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}
.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}
.button-group{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;

}
.start-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1sec;
    padding:0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.tour-button{
   
    border: none;
    border-radius: 0.375rem;
    background-color: var(--dark-gray);
    color: var(--background-color);
    transform: all 0.1sec;
    padding:0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color:var(--gray);
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container{
    border: none;
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0,1);
    height: 50vh;
}
.section-image{
    height: 100%;
    width: 100%;

}
@media screen and (min-width:768px){
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-heading{
        padding-left: 0;
    }
    
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    .section-label{
        font-size: 1rem;
    }
    .section-heading{
        font-size:3.8rem;
    }
    .image-container{
        height: 67vh;
    }
    .section-description{
        font-size: 1.1rem;
        color: var(--gray);
        width: 75%;
    }
}
.company-container{
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.635rem;
    animation: slideFromLeft 1s ease forwards;
   
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 3.6rem;
    padding:1rem ;
    background-color: var(--light-gray);
     margin-top: 2rem;
     margin-bottom: 10rem;
     padding: 1.8rem 2.5rem;

}
.companty-logo{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
}
.logo-txt{
    font-size: 1rem;
    color: var(--gray);
}
@media screen and (min-width:640px){
    .company-grid{
        grid-template-columns: repeat(4 , 1fr);
    }
    .company-title{
        font-size: 2.3rem;
        font-weight: bold;
    }
    
}
.first-container{
    width: 100%;
    height: 100vh;
    background-color:var(--light-gray);
}
.second-container{
    padding-top: 0;
    margin-bottom: 0.2rem;
    width: 650px;
    align-items: center;
    margin: 0 auto;
    height: 90%;
}
.headd{
    margin-top: 0;
     padding-top: 2.5rem;
    padding-bottom: 0.9rem;
    color: var(--text-color);
}
.parabox{
    display: flex;
    justify-content: center;
}
.paraa{
     text-align: center;
     max-width:95%;
     color: var(--gray);
     font-size: 0.9rem;
     padding-bottom: 2rem;
    }
    .box-content{
       
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        height: 84%;
         /* align-items: center; */
}
#item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius:0.3rem ;
    
}
.item1{
     background-color:#4a90e2;
}
.item2{
 background-color: #ff2689;
}
.item3{
    background-color: #fcbf58;
}
.item4{
    background-color: #44bfc3;
}
.item5{
    padding-top: 1rem;
    background-color: #77b058;
}
.item6{
    background-color: #7d78b1;
}
.head1{
    color: var(--background-color);
    font-size:1.2rem ;
    padding-bottom: 0.5rem;
}
.para1{
    font-size:0.9rem;
    color: var(--background-color);
    max-width:100%;
    
}
   




